/* ===============================
   Google Font
=================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#F8F4F3;
    color:#222;
    line-height:1.7;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:white;
}

img{
    max-width:100%;
}

/* ===============================
   Header
=================================*/

header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:28px 8%;
    background:#F8F4F3;
    z-index:1000;
    transition:.4s;
}

.logo{
    font-size:30px;
    font-weight:800;
    color:#B53A39;
    letter-spacing:2px;
}

nav a{
    margin-left:40px;
    color:#333;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#B53A39;
}
header{
    transition:.35s ease;
}

header.scrolled{
    background:rgba(5,10,25,.97);
    backdrop-filter:blur(14px);
    box-shadow:0 8px 25px rgba(0,0,0,.25);
}
/* ===============================
Hero
=================================*/

.hero{

min-height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:120px 8%;

background:#F8F4F3;

}

.hero-left{

width:60%;

}

.hero-left h3{

display:none;

}

.hero-left h1{

font-size:9rem;

font-weight:800;

line-height:.9;

color:#B53A39;

letter-spacing:-6px;

text-transform:uppercase;

}

.hero-left h2{

font-size:22px;

font-weight:500;

margin-top:30px;

color:#444;

}
.hero-left h2::after{
    content:"|";
    margin-left:4px;
    color:#3b82f6;
    animation:blink .8s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

.hero-left p{

font-size:18px;

margin-top:25px;

color:#555;

max-width:600px;

}

 

.buttons{

    margin-top:35px;

}

 btn{

background:#B53A39;

padding:18px 42px;

border-radius:50px;

font-weight:600;

transition:.4s;

}

.btn:hover{

background:#222;

transform:translateY(-6px);

}
 

.hero-right{

    flex:1;

    display:flex;

    justify-content:center;

}

.hero-right img{

  .hero-right{

display:flex;

justify-content:center;

align-items:center;

}

.hero-right img{

width:430px;

border:none;

border-radius:0;

box-shadow:none;

object-fit:cover;

animation:float 4s ease-in-out infinite;

}

}

/* ===============================
Sections
=================================*/

section{

    

padding:120px 8%;

background:#F8F4F3;

 

}

section h2{

    section h2{

font-size:70px;

text-align:center;

margin-bottom:70px;

font-weight:800;

color:#B53A39;

text-transform:uppercase;

}

}

/* ===============================
About
=================================*/

#about p{

    max-width:950px;

    margin:auto;

    text-align:center;

    font-size:18px;

    color:#070707;;

}

/* ===============================
Skills
=================================*/

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

}

.card{

background:white;

border-radius:25px;

padding:40px;

color:#333;

box-shadow:0 15px 40px rgba(0,0,0,.08);

transition:.4s;

}

.card:hover{

transform:translateY(-12px);

}
#topBtn{
    position:fixed;
    right:25px;
    bottom:25px;
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#3b82f6;
    color:#fff;
    font-size:22px;
    cursor:pointer;

    opacity:0;
    visibility:hidden;
    transform:translateY(20px);
    transition:.3s ease;
}

#topBtn.show{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}
 

 
 
/* ===============================
   Projects
=================================*/

#projects .cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
    margin-top:50px;
}
 

.project{

    background:#fff;

    padding:30px;

    border-radius:18px;

    margin-bottom:35px;

    transition:.3s;

}

.project:hover{

    transform:translateY(-8px);

}

.project h3{

    color:#B53A39;

    margin-bottom:15px;

}

.project p{

    color:#d4dde8;

    margin-bottom:20px;

}

.project a{

    display:inline-block;

    padding:10px 20px;

    background: #B53A39;;

    border-radius:30px;

}

/* ===============================
Contact
=================================*/

/* ===============================
   Contact
=================================*/

#contact{
    text-align:center;
    background:#F8F4F3;
}

#contact h2{
    color:#B53A39;
    margin-bottom:40px;
}

#contact p{
    font-size:18px;
    color:#555;
    margin:18px 0;
}

#contact i{
    color:#B53A39;
    margin-right:12px;
    font-size:20px;
}

#contact a{
    color:#333;
    transition:.3s;
}

#contact a:hover{
    color:#B53A39;
}
/* ===============================
/* ===============================
   Footer
=================================*/

footer{
    text-align:center;
    padding:40px 8%;
    background:#F8F4F3;
    border-top:1px solid #ddd;
    color:#666;
}

footer h3{
    color:#B53A39;
    font-size:24px;
    margin-bottom:10px;
    font-weight:700;
}

footer p{
    color:#777;
    font-size:16px;
    margin-top:8px;
}

/* ===============================
Scrollbar
=================================*/
/* ===============================
   Scrollbar
=================================*/

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#F8F4F3;
}

::-webkit-scrollbar-thumb{
    background:#B53A39;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#8f2e2e;
}

/* ===============================
Responsive
=================================*/

@media(max-width:900px){

.hero{

flex-direction:column-reverse;

text-align:center;

}

.hero-left h1{

font-size:48px;

}

.hero-right img{

width:250px;

height:250px;

}

nav{

display:none;

}

}
/* Timeline */

 .timeline-item{

background:white;

border-left:6px solid #B53A39;

color:#333;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}
 
/* Social Icons */

.social a{

background:white;

color:#B53A39;

box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.social a:hover{

background:#B53A39;

color:white;

}


/* Statistics */
.stat{

background:white;

color:#222;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.stat h1{

color:#B53A39;

font-size:60px;

}


/* Better Footer */

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}

.hidden{

opacity:0;

transform:translateY(80px);

transition:1s;

}

.show{

opacity:1;

transform:translateY(0);

}
 

/* Hero Background */
 